@{
    ViewBag.ActiveNav = "homeNavButton";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@* ============================================================================ *@

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function ()
        {
        });

    </script>
}

@* ============================================================================ *@

<div id="home" class="boxSectionLead">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h1>Animal Communication and Social Behavior</h1>
                <p>
                    <strong>Sub heading.</strong>
                    Brief introduction here. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                    Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="boxSection">
    <div class="container">
        <div class="row">
            <div class="span5">
                <div style="width:100%;height:200px;background-color:lightgray;">[ image ]</div>
            </div>
            <div class="offset1 span6">
                <h1>Other Content</h1>
                <p>
                    <strong>Sub heading.</strong>
                    Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                    Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="boxSection">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h1>Other Content</h1>
                <p>
                    <strong>Sub heading.</strong>
                    Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                    Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                </p>
            </div>
            <div class="offset1 span5">
                <div style="width:100%;height:200px;background-color:lightgray;">[ image ]</div>
            </div>
        </div>
    </div>
</div>
