@{
    ViewBag.ActiveNav = "peopleNavButton";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="labMembersPictureSection" class="boxSection">
    @*<img src="http://www.unco.edu/biology/lbenedict/DSCN2974.JPG" />*@
    <h1 class="heading">Lab Members</h1>
</div>

<div id="labMemberBioList">
    <div class="container">
        <div class="labMemberBioBoxSection">
            <div class="row">
                <div class="span5">
                    <div style="background-color:lightgray; height: 200px; width: 100%;"></div>
                </div>
                <div class="span7">
                    <div class="bio">
                        <h3>Jane Doe</h3>
                        <p>someone@@somewhere.com</p>
                        <p>
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="labMemberBioBoxSection">
            <div class="row">
                <div class="span5">
                    <div style="background-color:lightgray; height: 200px; width: 100%;"></div>
                </div>
                <div class="span7">
                    <div class="bio">
                        <h3>Jane Doe</h3>
                        <p>someone@@somewhere.com</p>
                        <p>
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="labMemberBioBoxSection">
            <div class="row">
                <div class="span5">
                    <div style="background-color:lightgray; height: 200px; width: 100%;"></div>
                </div>
                <div class="span7">
                    <div class="bio">
                        <h3>Jane Doe</h3>
                        <p>someone@@somewhere.com</p>
                        <p>
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>