@{
    ViewBag.ActiveNav = "peopleNavButton";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="labMembersPictureSection">
    @*<img src="http://www.unco.edu/biology/lbenedict/DSCN2974.JPG" />*@
    <div class="container">
        <h1 class="heading">2012 - 2013</h1>
    </div>
</div>
<div class="container">
    Bob, Jane, Joe, Kim.
</div>

<div id="labMemberBioList">
    <div class="container">
        <div class="labMemberBioBoxSection">
            <div class="row">
                <div class="span5">
                    <div style="background-color:lightgray; height: 200px; width: 100%;">[ image ]</div>
                </div>
                <div class="span7">
                    <div class="bio">
                        <h3>Jane Doe</h3>
                        <p>someone@@somewhere.com</p>
                        <p>
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="labMemberBioBoxSection">
            <div class="row">
                <div class="span5">
                    <div style="background-color:lightgray; height: 200px; width: 100%;">[ image ]</div>
                </div>
                <div class="span7">
                    <div class="bio">
                        <h3>Jane Doe</h3>
                        <p>someone@@somewhere.com</p>
                        <p>
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="labMemberBioBoxSection">
            <div class="row">
                <div class="span5">
                    <div style="background-color:lightgray; height: 200px; width: 100%;">[ image ]</div>
                </div>
                <div class="span7">
                    <div class="bio">
                        <h3>Jane Doe</h3>
                        <p>someone@@somewhere.com</p>
                        <p>
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                            Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>