@{
    ViewBag.ActiveNav = "publicationsNavButton";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="publications" class="boxSection">
    <div class="container">
        <div class="row">
            <div class="span8">
                <p class="citation"><strong>Hoke, K</strong>, Doe J, Smith B (2013) This is a Long Title asd asd asd asd  asd asd asd asd asd asd asd asd asd asd as das das asd for a Very Cool Paper. <em>Animal Behavior.</em> 287L96-103</p>
                <p class="citation"><strong>Hoke, K</strong>, Doe J, Smith B (2013) Title Of The Paper. <em>Animal Behavior.</em> 287L96-103</p>
                <p class="citation"><strong>Hoke, K</strong>, Doe J, Smith B (2013) Title Of The Paper. <em>Animal Behavior.</em> 287L96-103</p>
                <p class="citation"><strong>Hoke, K</strong>, Doe J, Smith B (2013) Title Of The Paper. <em>Animal Behavior.</em> 287L96-103</p>
                <p class="citation"><strong>Hoke, K</strong>, Doe J, Smith B (2013) Title Of The Paper. <em>Animal Behavior.</em> 287L96-103</p>
                <p class="citation"><strong>Hoke, K</strong>, Doe J, Smith B (2013) Title Of The Paper. <em>Animal Behavior.</em> 287L96-103</p>
                <p class="citation"><strong>Hoke, K</strong>, Doe J, Smith B (2013) Title Of The Paper. <em>Animal Behavior.</em> 287L96-103</p>
            </div>
        </div>
    </div>

</div>
