@{
    ViewBag.ActiveNav = "researchNavButton";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="researchOverviewSection" class="boxSection">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h1>Heading</h1>
                <p>
                    Explanation of research. adlka msdlkams dlaskmd laksdm alskdm sdl.
                    alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                    alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                    alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                    alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                </p>
            </div>
            <div class="span6">
                [ Picture ]
            </div>
        </div>
    </div>
</div>
@*
<div id="projectsHeaderSection" class="boxSectionLead">
    <div class="container">
        <h2>Projects</h2>
    </div>
</div>
*@
<div id="projectList">
    <div class="projectSection">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <h3>Project Title Here</h3>
                    <p>
                        Explanation of research. adlka msdlkams dlaskmd laksdm alskdm sdl.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                    </p>
                    <p>
                        Explanation of research. adlka msdlkams dlaskmd laksdm alskdm sdl.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                    </p>
                </div>
                <div class="span6">
                    [ picture ]
                </div>
            </div>
        </div>
    </div>

    <div class="projectSection">
        <div class="container">
            <div class="row">
                <div class="span6">
                    [ picture ]
                </div>
                <div class="span6">
                    <h3>Project Title Here</h3>
                    <p>
                        Explanation of research. adlka msdlkams dlaskmd laksdm alskdm sdl.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                    </p>
                    <p>
                        Explanation of research. adlka msdlkams dlaskmd laksdm alskdm sdl.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                        alskdma lksdma lksdma lksdmal ksdmlka mdlaks mlaksm dalksd alksd.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>