@{
    ViewBag.ActiveNav = "teachingNavButton";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="teaching" class="boxSection">
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row">
            <div class="span8">
                <h2>Spring 2013</h2>
                <dl>
                    <dt>Class Name</dt>
                    <dd>Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row">
            <div class="span8">
                <h2>Previously Taught</h2>
                <dl>
                    <dt>Class Name</dt>
                    <dd>Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.</dd>
                    <dt>Class Name</dt>
                    <dd>Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.</dd>
                    <dt>Class Name</dt>
                    <dd>Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.</dd>
                    <dt>Class Name</dt>
                    <dd>Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.</dd>
                    <dt>Class Name</dt>
                    <dd>Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.</dd>
                    <dt>Class Name</dt>
                    <dd>Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet. Lorem ipsum dolor sig amet.</dd>
                </dl>
            </div>
        </div>
    </div>
</div>